USE [master]
GO
/****** Object:  Database [ODataASP]    Script Date: 1/23/2024 3:52:33 PM ******/
CREATE DATABASE [ODataASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ODataASP', FILENAME = N'D:\Program Setup\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ODataASP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ODataASP_log', FILENAME = N'D:\Program Setup\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ODataASP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODataASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ODataASP]
GO
/****** Object:  Table [dbo].[Gadgets]    Script Date: 1/23/2024 3:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gadgets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](max) NULL,
	[Brand] [varchar](max) NULL,
	[Cost] [decimal](18, 0) NOT NULL,
	[ImageName] [varchar](1024) NULL,
	[Type] [varchar](128) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Gadgets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gadgets] ON 

INSERT [dbo].[Gadgets] ([Id], [ProductName], [Brand], [Cost], [ImageName], [Type], [CreatedDate], [ModifiedDate]) VALUES (1, N'Samsung Galaxy', N'Samsung', CAST(1200 AS Decimal(18, 0)), N'samsung.jpg', N'mobile', CAST(N'2021-12-12T00:00:00.000' AS DateTime), CAST(N'2021-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Gadgets] ([Id], [ProductName], [Brand], [Cost], [ImageName], [Type], [CreatedDate], [ModifiedDate]) VALUES (2, N'iPhone', N'Apple', CAST(1300 AS Decimal(18, 0)), N'iphone.png', N'mobile', CAST(N'2021-12-12T00:00:00.000' AS DateTime), CAST(N'2021-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Gadgets] ([Id], [ProductName], [Brand], [Cost], [ImageName], [Type], [CreatedDate], [ModifiedDate]) VALUES (3, N'IBM Thinkpad', N'IBM', CAST(3499 AS Decimal(18, 0)), N'thinkpag.jpg', N'laptop', CAST(N'2021-12-12T00:00:00.000' AS DateTime), CAST(N'2021-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gadgets] OFF
GO
USE [master]
GO
